@use "variables" as vars;

.btn-tickets {
  display: inline-block;
  font-family: vars.$font-title;
  border: 2px solid black;
  text-decoration: none;
  color: vars.$color-ticket-text;
  margin: 25px;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: vars.$color-ticket-bg;
}

.btn-tickets:hover {
  background-color: vars.$color-ticket-bg-hover;
}
