@use "../utils/variables" as vars;

/* Contenedor principal */
footer {
  background-color: vars.$color-footer-bg;
  padding: 12px 20px;
}

/* Contenedor interno del footer */
.site-footer__inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}

/* Texto legal */
.site-footer__copyright {
  margin: 0;
  font-family: vars.$font-alt;
  font-size: 16px;
  color: vars.$color-text;
}

/* Lista social */
.site-footer__social-list {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

/* Links sociales */
.site-footer__social-item a {
  font-family: vars.$font-alt;
  font-size: 16px;
  color: vars.$color-text;
  text-decoration: none;
}

.site-footer__social-item a:hover {
  color: vars.$color-text-hover;
  text-decoration: underline;
}
/* Responsive: ajustes para pantallas pequeñas */
@media (max-width: 767.98px) {
  .site-footer__inner {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .site-footer__social-list {
    justify-content: center;
    flex-wrap: wrap;
  }
}
