@use "../utils/variables" as vars;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: vars.$color-header-bg;
  padding: 10px 20px;
  gap: 20px;
}

.img-icon {
  max-width: 120px;
  height: auto;
}

header h1 {
  margin-bottom: 20px;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Lista de navegación */
.navbar-nav {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.navbar-nav .nav-item {
  list-style: none;
}

.navbar-nav .nav-link {
  font-family: vars.$font-alt;
  font-size: 25px;
  color: vars.$color-nav-link;
  text-decoration: none;
  transition: text-decoration 0.2s ease;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

/* Boton Hamburguesa */

.nav-toggle {
  position: absolute;
  left: -9999px;
}

/* Botón hamburguesa (visible en mobile) */
.navbar-toggler {
  border: 0;
  background: none;
  display: none; /* oculto en desktop */
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  cursor: pointer;
}

.toggler-bar {
  width: 24px;
  height: 2px;
  background: vars.$color-nav-link;
  display: block;
}

/* Contenedor menú */
.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Responsive */

@media (max-width: 767.98px) {
  .navbar-toggler {
    display: flex;
  }

  .nav-menu {
    display: none;
    width: 100%;
    margin-top: 8px;
  }

  #nav-toggle:checked + .navbar-toggler + .nav-menu {
    display: block;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
