@use "../utils/utilities";
@use "../utils/variables" as vars;

.btn-tickets {
  @extend %btn-shared;

  font-family: vars.$font-title;
  border: 2px solid black;
  color: vars.$color-ticket-text;
  margin: 25px;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: vars.$color-ticket-bg;

  &:hover {
    background-color: vars.$color-ticket-bg-hover;
  }
}
